In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
# Set color palette 
sns.set_palette("Set2")  
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

Matplotlib is building the font cache; this may take a moment.

NameError: name 'sns' is not defined

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [20]:
df=pd.read_csv("GlobalWeatherRepository.csv")  
df.head(6)

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,wind_mph,wind_kph,wind_degree,wind_direction,pressure_mb,pressure_in,precip_mm,precip_in,humidity,cloud,feels_like_celsius,feels_like_fahrenheit,visibility_km,visibility_miles,uv_index,gust_mph,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,8.3,13.3,338,NNW,1012.0,29.89,0.00,0.00,24,30,25.3,77.5,10.0,6.0,7.0,9.5,15.3,277.0,103.0,1.1,0.2,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,6.9,11.2,320,NW,1012.0,29.88,0.10,0.00,94,75,19.0,66.2,10.0,6.0,5.0,11.4,18.4,193.6,97.3,0.9,0.1,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,9.4,15.1,280,W,1011.0,29.85,0.00,0.00,29,0,24.6,76.4,10.0,6.0,5.0,13.9,22.3,540.7,12.2,65.1,13.4,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,7.4,11.9,215,SW,1007.0,29.75,0.30,0.01,61,100,3.8,38.9,2.0,1.0,2.0,8.5,13.7,170.2,64.4,1.6,0.2,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,8.1,13.0,150,SSE,1011.0,29.85,0.00,0.00,89,50,28.7,83.6,10.0,6.0,8.0,12.5,20.2,2964.0,19.0,72.7,31.5,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55
5,Antigua and Barbuda,Saint John's,17.12,-61.85,America/Antigua,1715849100,2024-05-16 04:45,26.0,78.8,Partly cloudy,5.6,9.0,90,E,1013.0,29.91,0.02,0.00,84,25,28.2,82.8,10.0,6.0,1.0,15.7,25.3,220.3,29.0,0.2,0.2,1.2,4.5,1,1,05:36 AM,06:32 PM,01:05 PM,01:14 AM,Waxing Gibbous,55

In [21]:
# Summary Statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
latitude,32965.0,1.914488e+01,2.449115e+01,-4.130000e+01,3.750000e+00,1.725000e+01,4.040000e+01,6.415000e+01
longitude,32965.0,2.215314e+01,6.577379e+01,-1.752000e+02,-6.836100e+00,2.332000e+01,5.058000e+01,1.792200e+02
last_updated_epoch,32965.0,1.723180e+09,4.302705e+06,1.715849e+09,1.719409e+09,1.723293e+09,1.726916e+09,1.730539e+09
temperature_celsius,32965.0,2.540319e+01,7.297237e+00,-1.100000e+01,2.150000e+01,2.630000e+01,2.950000e+01,4.920000e+01
temperature_fahrenheit,32965.0,7.772717e+01,1.313520e+01,1.220000e+01,7.070000e+01,7.940000e+01,8.500000e+01,1.206000e+02
wind_mph,32965.0,8.486252e+00,1.140097e+01,2.200000e+00,4.300000e+00,7.600000e+00,1.190000e+01,1.841200e+03
wind_kph,32965.0,1.366126e+01,1.834808e+01,3.600000e+00,6.800000e+00,1.220000e+01,1.910000e+01,2.963200e+03
wind_degree,32965.0,1.754585e+02,1.007859e+02,1.000000e+00,9.000000e+01,1.700000e+02,2.600000e+02,3.600000e+02
pressure_mb,32965.0,1.012717e+03,6.370470e+00,9.710000e+02,1.009000e+03,1.013000e+03,1.016000e+03,1.045000e+03
pressure_in,32965.0,2.990487e+01,1.878604e-01,2.867000e+01,2.981000e+01,2.991000e+01,3.000000e+01,3.086000e+01
precip_mm,32965.0,1.565388e-01,6.507848e-01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e-02,2.782000e+01
precip_in,32965.0,5.967845e-03,2.572162e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+00
humidity,32965.0,6.147023e+01,2.494821e+01,2.000000e+00,4.200000e+01,6.600000e+01,8.200000e+01,1.000000e+02
cloud,32965.0,3.894643e+01,3.287450e+01,0.000000e+00,4.000000e+00,2.600000e+01,7.500000e+01,1.000000e+02
feels_like_celsius,32965.0,2.692012e+01,8.691043e+00,-1.920000e+01,2.150000e+01,2.780000e+01,3.250000e+01,5.120000e+01
feels_like_fahrenheit,32965.0,8.044953e+01,1.564297e+01,-2.500000e+00,7.070000e+01,8.210000e+01,9.060000e+01,1.242000e+02
visibility_km,32965.0,9.757667e+00,2.312229e+00,0.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,3.200000e+01
visibility_miles,32965.0,5.789686e+00,1.427992e+00,0.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.900000e+01
uv_index,32965.0,5.114167e+00,2.925775e+00,0.000000e+00,2.000000e+00,6.000000e+00,7.000000e+00,1.430000e+01
gust_mph,32965.0,1.241985e+01,1.226496e+01,2.200000e+00,7.000000e+00,1.130000e+01,1.630000e+01,1.845700e+03
gust_kph,32965.0,1.999048e+01,1.973914e+01,3.600000e+00,1.120000e+01,1.820000e+01,2.630000e+01,2.970400e+03
air_quality_Carbon_Monoxide,32965.0,4.648099e+02,1.040514e+03,-9.999000e+03,2.070000e+02,2.737000e+02,4.106000e+02,3.887940e+04
air_quality_Ozone,32965.0,6.404736e+01,4.155106e+01,0.000000e+00,3.500000e+01,5.900000e+01,8.800000e+01,4.807000e+02
air_quality_Nitrogen_dioxide,32965.0,1.070267e+01,2.285474e+01,0.000000e+00,6.000000e-01,2.200000e+00,8.700000e+00,4.277000e+02
air_quality_Sulphur_dioxide,32965.0,7.729945e+00,5.813078e+01,-9.999000e+03,5.000000e-01,1.610000e+00,5.800000e+00,2.910050e+02
air_quality_PM2.5,32965.0,1.866274e+01,4.705468e+01,3.700000e-01,3.100000e+00,8.700000e+00,1.979500e+01,1.614100e+03
air_quality_PM10,32965.0,3.545884e+01,7.878698e+01,5.000000e-01,5.600000e+00,1.480000e+01,3.480000e+01,1.814400e+03
air_quality_us-epa-index,32965.0,1.474200e+00,8.361252e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
air_quality_gb-defra-index,32965.0,2.053360e+00,2.051405e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+01
moon_illumination,32965.0,4.869328e+01,3.497836e+01,0.000000e+00,1.300000e+01,4.800000e+01,8.300000e+01,1.000000e+02

In [10]:
# Dataset structure
print(f'Dataset info: {df.info()}')
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32965 entries, 0 to 32964
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       32965 non-null  object
 1   location_name                 32965 non-null  object
 2   latitude                      32965 non-null  float64
 3   longitude                     32965 non-null  float64
 4   timezone                      32965 non-null  object
 5   last_updated_epoch            32965 non-null  int64
 6   last_updated                  32965 non-null  object
 7   temperature_celsius           32965 non-null  float64
 8   temperature_fahrenheit        32965 non-null  float64
 9   condition_text                32965 non-null  object
 10  wind_mph                      32965 non-null  float64
 11  wind_kph                      32965 non-null  float64
 12  wind_degree                   32965 non-null  int64
 13  wind_direction                32965 non-null  object
 14  pressure_mb                   32965 non-null  float64
 15  pressure_in                   32965 non-null  float64
 16  precip_mm                     32965 non-null  float64
 17  precip_in                     32965 non-null  float64
 18  humidity                      32965 non-null  int64
 19  cloud                         32965 non-null  int64
 20  feels_like_celsius            32965 non-null  float64
 21  feels_like_fahrenheit         32965 non-null  float64
 22  visibility_km                 32965 non-null  float64
 23  visibility_miles              32965 non-null  float64
 24  uv_index                      32965 non-null  float64
 25  gust_mph                      32965 non-null  float64
 26  gust_kph                      32965 non-null  float64
 27  air_quality_Carbon_Monoxide   32965 non-null  float64
 28  air_quality_Ozone             32965 non-null  float64
 29  air_quality_Nitrogen_dioxide  32965 non-null  float64
 30  air_quality_Sulphur_dioxide   32965 non-null  float64
 31  air_quality_PM2.5             32965 non-null  float64
 32  air_quality_PM10              32965 non-null  float64
 33  air_quality_us-epa-index      32965 non-null  int64
 34  air_quality_gb-defra-index    32965 non-null  int64
 35  sunrise                       32965 non-null  object
 36  sunset                        32965 non-null  object
 37  moonrise                      32965 non-null  object
 38  moonset                       32965 non-null  object
 39  moon_phase                    32965 non-null  object
 40  moon_illumination             32965 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 10.3+ MB
Dataset info: None

(32965, 41)

In [11]:
# Count numeric columns
numeric_columns_count = df.select_dtypes(include='number').shape[1]

# Count categorical columns
categorical_columns_count = df.select_dtypes(include='object').shape[1]

# Display the counts
print(f'Number of numeric columns: {numeric_columns_count}')
print(f'Number of categorical columns: {categorical_columns_count}')

Number of numeric columns: 30
Number of categorical columns: 11

In [13]:
#Check for Missing Values
missing_values=df.isnull().sum()
print("Missing values:\n", missing_values)
missing_values = df.isnull().sum().sum()
# Check if there are any missing values and print the result using an f-string
if missing_values > 0:
    print(f"Missing values are present. Total missing values: {missing_values}")
else:
    print(f"No missing values are present in the Dataset.")

Missing values:
 country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64
No missing values are present in the Dataset.

In [14]:
# Check for any Duplicate Rows
duplicates_count = df.duplicated().sum()

# Check if there are any duplicate rows and print the result using f-strings
if df.duplicated().any():
    print(f"Duplicates are present. Total duplicate rows: {duplicates_count}")
else:
    print(f"No duplicates are present in the Dataset.")

No duplicates are present in the Dataset.

In [16]:
df['country'] = df['country'].apply(lambda x: 'Colombia' if x == 'كولومبيا' else x)
df['country'] = df['country'].apply(lambda x: 'Turkey' if x == '火鸡' else x)
df['country'] = df['country'].apply(lambda x: 'Poland' if x == 'Польша' else x)
df['country'] = df['country'].apply(lambda x: 'Turkey' if x == 'Турция' else x)
df['country'] = df['country'].apply(lambda x: 'Guatemala' if x == 'Гватемала' else x)

# Show the last 50 unique values
unique_countries=df['country'].nunique()
num_unique_countries=df['country'].unique()[-50:]
print(f'Num Unique countries are: {unique_countries}')
print(f'There are {num_unique_countries} unique values in the country column.')

Num Unique countries are: 205
There are ['South Africa' 'South Korea' 'Sudan' 'Spain' 'Sri Lanka' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Timor-Leste'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe' 'Colombia'
 'USA United States of America' "Lao People's Democratic Republic" 'Libya'
 'Kosovo' 'Togo' 'Malásia' 'Komoren' 'Estonie' 'Inde' 'Letonia' 'Mexique'
 'Polônia' 'Marrocos' 'Saint-Vincent-et-les-Grenadines' 'Saudi Arabien'
 'Südkorea' 'Bélgica' 'Turkménistan' 'Jemen'] unique values in the country column.

In [17]:
# Check and print the minimum and maximum values of the country column
min_country, max_country = df['country'].min(), df['country'].max()
print(f"The 'country' which occurs minimum in this dataset is: {min_country}")
print(f"The 'country' which occurs maximum in this dataset is: {max_country}")

The 'country' which occurs minimum in this dataset is: Afghanistan
The 'country' which occurs maximum in this dataset is: Zimbabwe

In [18]:
# Show the last 50 unique values
num_unique_location_name = df['location_name'].nunique()
print(f'There are {num_unique_location_name} unique values in the location_name column.')
# Lets check the minimum and maximum values of the id column and explore this it
min_location_name, max_location_name = df['location_name'].min(), df['location_name'].max()
print(f"The 'Location_name' which occurs minimum in this dataset is: {min_location_name}")
print(f"The 'Location_name' which occurs maximum in this dataset is: {max_location_name}")

There are 248 unique values in the location_name column.
The 'Location_name' which occurs minimum in this dataset is: 'S Gravenjansdijk
The 'Location_name' which occurs maximum in this dataset is: Zagreb

In [10]:
# Lets Get the country and location with the highest temperature in Celsius
highest_temp_celsius = df.loc[df['temperature_celsius'].idxmax(), ['country', 'location_name', 'temperature_celsius']]
print("Country and Location with the Highest Temperature in Celsius:")
print(highest_temp_celsius)

# Lets Get the country and location with the highest temperature in Fahrenheit
highest_temp_fahrenheit = df.loc[df['temperature_fahrenheit'].idxmax(), ['country', 'location_name', 'temperature_fahrenheit']]
print("\nCountry and Location with the Highest Temperature in Fahrenheit:")
print(highest_temp_fahrenheit)

# Lets print the overall max temperatures countries and location names
print(f"\nMaximum Temperature in Celsius: {highest_temp_celsius['temperature_celsius']}")
print(f"Maximum Temperature in Fahrenheit: {highest_temp_fahrenheit['temperature_fahrenheit']}")

Country and Location with the Highest Temperature in Celsius:
country                     Kuwait
location_name          Kuwait City
temperature_celsius           49.2
Name: 6896, dtype: object

Country and Location with the Highest Temperature in Fahrenheit:
country                        Kuwait
location_name             Kuwait City
temperature_fahrenheit          120.6
Name: 6896, dtype: object

Maximum Temperature in Celsius: 49.2
Maximum Temperature in Fahrenheit: 120.6

In [ ]:
#Display only columns about air quality
air_data = df[[c for c in df.columns if 'air' in c]]

,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index
0,277.00,103.0,1.100,0.200,8.400,26.600,1,1
1,193.60,97.3,0.900,0.100,1.100,2.000,1,1
2,540.70,12.2,65.100,13.400,10.400,18.400,1,1
3,170.20,64.4,1.600,0.200,0.700,0.900,1,1
4,2964.00,19.0,72.700,31.500,183.400,262.300,5,10
...,...,...,...,...,...,...,...,...
32960,1211.75,55.0,24.790,7.215,22.015,32.560,2,2
32961,1280.20,83.0,23.125,36.815,50.320,75.665,3,6
32962,271.95,89.0,0.370,1.295,18.500,128.020,2,2
32963,331.15,51.0,0.740,0.555,7.400,10.915,1,1
32964,455.10,64.0,1.110,0.740,8.140,11.840,1,1

In [ ]:
#Min, max, and mean of air quality PM2.5 and PM10 columns
df[['air_quality_PM2.5','air_quality_PM10']].agg(['mean','min','max'])

      air_quality_PM2.5  air_quality_PM10
mean          18.662739          35.45884
min            0.370000           0.50000
max         1614.100000        1814.40000

In [ ]:
#Lets Get country and location with the highest air_quality_PM2.5
highest_PM2_5 = df.loc[df['air_quality_PM2.5'].idxmax(), ['country', 'location_name', 'air_quality_PM2.5']]
print(highest_PM2_5)
#Lets Get the country and location with the lowest air_quality_PM2.5
lowest_PM2_5 = df.loc[df['air_quality_PM2.5'].idxmin(), ['country', 'location_name', 'air_quality_PM2.5']]
print(lowest_PM2_5)

country                 Chile
location_name        Santiago
air_quality_PM2.5      1614.1
Name: 4125, dtype: object
country                Belize
location_name        Belmopan
air_quality_PM2.5        0.37
Name: 30113, dtype: object

In [ ]:
#Lets find the min and max of each country's uv_index and temperature (celsius)
df_agg = df.groupby('country')[['uv_index','temperature_celsius']].agg(['min','max'])
#Print
print(df_agg)

            uv_index      temperature_celsius
                 min  max                 min   max
country
Afghanistan      1.0  9.0                14.0  36.1
Albania          0.5  9.0                17.2  39.2
Algeria          0.2  8.0                19.7  38.2
Andorra          0.2  7.0                 3.2  28.9
Angola           1.8  8.1                22.2  32.0
...              ...  ...                 ...   ...
Гватемала        4.0  4.0                15.9  15.9
Польша           5.0  5.0                24.2  24.2
Турция           8.0  8.0                34.0  34.0
كولومبيا         5.0  5.0                23.1  23.1
火鸡               7.0  7.0                29.7  29.7

[210 rows x 4 columns]

In [ ]:
#Lets create a dataframe with country, uv_index, temp_celsius, and condition_text
#The uv_index is sorted in ascending order
df[['country','uv_index','temperature_celsius','condition_text']].sort_values('uv_index', ascending=False)

           country  uv_index  temperature_celsius condition_text
28819        Kenya      14.3                 23.1  Partly cloudy
29014        Kenya      14.2                 23.9          Sunny
29209        Kenya      14.2                 24.3  Partly cloudy
29222   Madagascar      14.1                 24.1  Partly cloudy
32318   Madagascar      14.0                 29.1  Partly cloudy
...            ...       ...                  ...            ...
31013         Peru       0.0                 17.3  Partly Cloudy
31014  Philippines       0.0                 27.1       Overcast
30986       Mexico       0.0                 11.1  Partly cloudy
30987   Micronesia       0.0                 29.4  Partly Cloudy
32893  New Zealand       0.0                  8.6     Light rain

[32965 rows x 4 columns]

In [ ]:
#Lets create a grouped dataframe of country, humidity, and feels_like_celsius with their means 
df1=df.groupby(['country','humidity'])[['feels_like_celsius']].mean().reset_index()
#Lets create a grouped dataframe of country, humidity, and temperature_celsius with their means
df2=df.groupby(['country','humidity'])[['temperature_celsius']].mean().reset_index()
#Merge both dataframes
df1.merge(df2)

          country  humidity  feels_like_celsius  temperature_celsius
0     Afghanistan         4           27.400000            29.600000
1     Afghanistan         5           27.000000            29.200000
2     Afghanistan         6           28.866667            31.066667
3     Afghanistan         7           28.825000            30.925000
4     Afghanistan         8           29.166667            31.266667
...           ...       ...                 ...                  ...
7781    Гватемала        95           15.900000            15.900000
7782       Польша        56           25.500000            24.200000
7783       Турция        44           34.200000            34.000000
7784     كولومبيا        95           25.500000            23.100000
7785           火鸡        24           27.900000            29.700000

[7786 rows x 4 columns]