In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
# Set color palette 
sns.set_palette("Set2")  
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [20]:
df=pd.read_csv("GlobalWeatherRepository.csv")  
df.head(6)

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,wind_mph,wind_kph,wind_degree,wind_direction,pressure_mb,pressure_in,precip_mm,precip_in,humidity,cloud,feels_like_celsius,feels_like_fahrenheit,visibility_km,visibility_miles,uv_index,gust_mph,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,8.3,13.3,338,NNW,1012.0,29.89,0.00,0.00,24,30,25.3,77.5,10.0,6.0,7.0,9.5,15.3,277.0,103.0,1.1,0.2,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,6.9,11.2,320,NW,1012.0,29.88,0.10,0.00,94,75,19.0,66.2,10.0,6.0,5.0,11.4,18.4,193.6,97.3,0.9,0.1,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,9.4,15.1,280,W,1011.0,29.85,0.00,0.00,29,0,24.6,76.4,10.0,6.0,5.0,13.9,22.3,540.7,12.2,65.1,13.4,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,7.4,11.9,215,SW,1007.0,29.75,0.30,0.01,61,100,3.8,38.9,2.0,1.0,2.0,8.5,13.7,170.2,64.4,1.6,0.2,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,8.1,13.0,150,SSE,1011.0,29.85,0.00,0.00,89,50,28.7,83.6,10.0,6.0,8.0,12.5,20.2,2964.0,19.0,72.7,31.5,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55
5,Antigua and Barbuda,Saint John's,17.12,-61.85,America/Antigua,1715849100,2024-05-16 04:45,26.0,78.8,Partly cloudy,5.6,9.0,90,E,1013.0,29.91,0.02,0.00,84,25,28.2,82.8,10.0,6.0,1.0,15.7,25.3,220.3,29.0,0.2,0.2,1.2,4.5,1,1,05:36 AM,06:32 PM,01:05 PM,01:14 AM,Waxing Gibbous,55

In [4]:
# Summary Statistics
df.describe().T

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,precip_mm,precip_in,humidity,cloud,feels_like_celsius,feels_like_fahrenheit,visibility_km,visibility_miles,uv_index,gust_mph,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,32965.000000,32965.000000,3.296500e+04,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.00000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.000000,32965.00000,32965.000000,32965.000000,32965.000000
mean,19.144882,22.153139,1.723180e+09,25.403194,77.727165,8.486252,13.661256,175.458517,1012.716912,29.90487,0.156539,0.005968,61.470226,38.946428,26.920124,80.449525,9.757667,5.789686,5.114167,12.419854,19.990478,464.809865,64.047356,10.702668,7.729945,18.662739,35.45884,1.474200,2.053360,48.693281
std,24.491150,65.773786,4.302705e+06,7.297237,13.135204,11.400970,18.348077,100.785933,6.370470,0.18786,0.650785,0.025722,24.948210,32.874502,8.691043,15.642970,2.312229,1.427992,2.925775,12.264958,19.739141,1040.514032,41.551056,22.854736,58.130784,47.054683,78.78698,0.836125,2.051405,34.978357
min,-41.300000,-175.200000,1.715849e+09,-11.000000,12.200000,2.200000,3.600000,1.000000,971.000000,28.67000,0.000000,0.000000,2.000000,0.000000,-19.200000,-2.500000,0.000000,0.000000,0.000000,2.200000,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.370000,0.50000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.719409e+09,21.500000,70.700000,4.300000,6.800000,90.000000,1009.000000,29.81000,0.000000,0.000000,42.000000,4.000000,21.500000,70.700000,10.000000,6.000000,2.000000,7.000000,11.200000,207.000000,35.000000,0.600000,0.500000,3.100000,5.60000,1.000000,1.000000,13.000000
50%,17.250000,23.320000,1.723293e+09,26.300000,79.400000,7.600000,12.200000,170.000000,1013.000000,29.91000,0.000000,0.000000,66.000000,26.000000,27.800000,82.100000,10.000000,6.000000,6.000000,11.300000,18.200000,273.700000,59.000000,2.200000,1.610000,8.700000,14.80000,1.000000,1.000000,48.000000
75%,40.400000,50.580000,1.726916e+09,29.500000,85.000000,11.900000,19.100000,260.000000,1016.000000,30.00000,0.030000,0.000000,82.000000,75.000000,32.500000,90.600000,10.000000,6.000000,7.000000,16.300000,26.300000,410.600000,88.000000,8.700000,5.800000,19.795000,34.80000,2.000000,2.000000,83.000000
max,64.150000,179.220000,1.730539e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,1045.000000,30.86000,27.820000,1.100000,100.000000,100.000000,51.200000,124.200000,32.000000,19.000000,14.300000,1845.700000,2970.400000,38879.398000,480.700000,427.700000,291.005000,1614.100000,1814.40000,6.000000,10.000000,100.000000

In [10]:
# Dataset structure
print(f'Dataset info: {df.info()}')
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32965 entries, 0 to 32964
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       32965 non-null  object
 1   location_name                 32965 non-null  object
 2   latitude                      32965 non-null  float64
 3   longitude                     32965 non-null  float64
 4   timezone                      32965 non-null  object
 5   last_updated_epoch            32965 non-null  int64
 6   last_updated                  32965 non-null  object
 7   temperature_celsius           32965 non-null  float64
 8   temperature_fahrenheit        32965 non-null  float64
 9   condition_text                32965 non-null  object
 10  wind_mph                      32965 non-null  float64
 11  wind_kph                      32965 non-null  float64
 12  wind_degree                   32965 non-null  int64
 13  wind_direction                32965 non-null  object
 14  pressure_mb                   32965 non-null  float64
 15  pressure_in                   32965 non-null  float64
 16  precip_mm                     32965 non-null  float64
 17  precip_in                     32965 non-null  float64
 18  humidity                      32965 non-null  int64
 19  cloud                         32965 non-null  int64
 20  feels_like_celsius            32965 non-null  float64
 21  feels_like_fahrenheit         32965 non-null  float64
 22  visibility_km                 32965 non-null  float64
 23  visibility_miles              32965 non-null  float64
 24  uv_index                      32965 non-null  float64
 25  gust_mph                      32965 non-null  float64
 26  gust_kph                      32965 non-null  float64
 27  air_quality_Carbon_Monoxide   32965 non-null  float64
 28  air_quality_Ozone             32965 non-null  float64
 29  air_quality_Nitrogen_dioxide  32965 non-null  float64
 30  air_quality_Sulphur_dioxide   32965 non-null  float64
 31  air_quality_PM2.5             32965 non-null  float64
 32  air_quality_PM10              32965 non-null  float64
 33  air_quality_us-epa-index      32965 non-null  int64
 34  air_quality_gb-defra-index    32965 non-null  int64
 35  sunrise                       32965 non-null  object
 36  sunset                        32965 non-null  object
 37  moonrise                      32965 non-null  object
 38  moonset                       32965 non-null  object
 39  moon_phase                    32965 non-null  object
 40  moon_illumination             32965 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 10.3+ MB
Dataset info: None

(32965, 41)

In [11]:
# Count numeric columns
numeric_columns_count = df.select_dtypes(include='number').shape[1]

# Count categorical columns
categorical_columns_count = df.select_dtypes(include='object').shape[1]

# Display the counts
print(f'Number of numeric columns: {numeric_columns_count}')
print(f'Number of categorical columns: {categorical_columns_count}')

Number of numeric columns: 30
Number of categorical columns: 11

In [13]:
#Check for Missing Values
missing_values=df.isnull().sum()
print("Missing values:\n", missing_values)
missing_values = df.isnull().sum().sum()
# Check if there are any missing values and print the result using an f-string
if missing_values > 0:
    print(f"Missing values are present. Total missing values: {missing_values}")
else:
    print(f"No missing values are present in the Dataset.")

Missing values:
 country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64
No missing values are present in the Dataset.

In [14]:
# Check for any Duplicate Rows
duplicates_count = df.duplicated().sum()

# Check if there are any duplicate rows and print the result using f-strings
if df.duplicated().any():
    print(f"Duplicates are present. Total duplicate rows: {duplicates_count}")
else:
    print(f"No duplicates are present in the Dataset.")

No duplicates are present in the Dataset.

In [16]:
df['country'] = df['country'].apply(lambda x: 'Colombia' if x == 'كولومبيا' else x)
df['country'] = df['country'].apply(lambda x: 'Turkey' if x == '火鸡' else x)
df['country'] = df['country'].apply(lambda x: 'Poland' if x == 'Польша' else x)
df['country'] = df['country'].apply(lambda x: 'Turkey' if x == 'Турция' else x)
df['country'] = df['country'].apply(lambda x: 'Guatemala' if x == 'Гватемала' else x)

# Show the last 50 unique values
unique_countries=df['country'].nunique()
num_unique_countries=df['country'].unique()[-50:]
print(f'Num Unique countries are: {unique_countries}')
print(f'There are {num_unique_countries} unique values in the country column.')

Num Unique countries are: 205
There are ['South Africa' 'South Korea' 'Sudan' 'Spain' 'Sri Lanka' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Timor-Leste'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe' 'Colombia'
 'USA United States of America' "Lao People's Democratic Republic" 'Libya'
 'Kosovo' 'Togo' 'Malásia' 'Komoren' 'Estonie' 'Inde' 'Letonia' 'Mexique'
 'Polônia' 'Marrocos' 'Saint-Vincent-et-les-Grenadines' 'Saudi Arabien'
 'Südkorea' 'Bélgica' 'Turkménistan' 'Jemen'] unique values in the country column.

In [17]:
# Check and print the minimum and maximum values of the country column
min_country, max_country = df['country'].min(), df['country'].max()
print(f"The 'country' which occurs minimum in this dataset is: {min_country}")
print(f"The 'country' which occurs maximum in this dataset is: {max_country}")

The 'country' which occurs minimum in this dataset is: Afghanistan
The 'country' which occurs maximum in this dataset is: Zimbabwe

In [18]:
# Show the last 50 unique values
num_unique_location_name = df['location_name'].nunique()
print(f'There are {num_unique_location_name} unique values in the location_name column.')
# Lets check the minimum and maximum values of the id column and explore this it
min_location_name, max_location_name = df['location_name'].min(), df['location_name'].max()
print(f"The 'Location_name' which occurs minimum in this dataset is: {min_location_name}")
print(f"The 'Location_name' which occurs maximum in this dataset is: {max_location_name}")

There are 248 unique values in the location_name column.
The 'Location_name' which occurs minimum in this dataset is: 'S Gravenjansdijk
The 'Location_name' which occurs maximum in this dataset is: Zagreb

In [19]:
# Lets Get the country and location with the highest temperature in Celsius
highest_temp_celsius = df.loc[df['temperature_celsius'].idxmax(), ['country', 'location_name', 'temperature_celsius']]
print("Country and Location with the Highest Temperature in Celsius:")
print(highest_temp_celsius)

# Lets Get the country and location with the highest temperature in Fahrenheit
highest_temp_fahrenheit = df.loc[df['temperature_fahrenheit'].idxmax(), ['country', 'location_name', 'temperature_fahrenheit']]
print("\nCountry and Location with the Highest Temperature in Fahrenheit:")
print(highest_temp_fahrenheit)

# Lets print the overall max temperatures countries and location names
print(f"\nMaximum Temperature in Celsius: {highest_temp_celsius['temperature_celsius']}")
print(f"Maximum Temperature in Fahrenheit: {highest_temp_fahrenheit['temperature_fahrenheit']}")

Country and Location with the Highest Temperature in Celsius:
country                     Kuwait
location_name          Kuwait City
temperature_celsius           49.2
Name: 6896, dtype: object

Country and Location with the Highest Temperature in Fahrenheit:
country                        Kuwait
location_name             Kuwait City
temperature_fahrenheit          120.6
Name: 6896, dtype: object

Maximum Temperature in Celsius: 49.2
Maximum Temperature in Fahrenheit: 120.6